<% content_for(:title) { "Mike Saris DICE Challenge" } %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="waiting" data-view="Meter" data-title="WAITING" data-min="0" data-max="6"></div>
    </li>

    <!--li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="resuscitation" data-view="Trauma" data-title="RESUSCITATION"></div>
    </li-->
  </ul>
</div>